@charset "UTF-8";

/*色　#B6B6B6*/
/*外側----------------*/
body {
    margin:0px;
    display: flex;

    background-color: #28385E;
}



/*内側----------------------------*/


#content{
    background-color: #FF9800;
    
    margin-left: auto;
    margin-right: auto;
    
    width:1200px
    
}


#headi{
/*画像を真ん中に持ってくる*/
 text-align: center;

}

/*メニューバーの装飾*/

ul.menu{
    text-align:center;
    padding:0px, 0px, 0px, 15px;
   
    
   
}

ul.menu li{
    width:125px;
    background-color:#28385E;
    display: inline-block;
    text-align:center;
    border-radius:5px;
   
}

ul.menu a{
    
    color:white;
    line-height:40px;
    text-decoration: none;
    font-weight:bold;
    display:block;
}

/*--------------------------------*/

div.set{
    margin-left:15%;
}

#box1{
    border:2px solid #333;
    font-family: ＭＳ Ｐゴシック, Osaka;
    width:800px;
    background-color:#ffff;
    border-radius:20px;
    padding:10px;
    text-align: center;
}

#box2{
    border:2px solid #333;
    background-color:#ffff;
    width:800px;
    margin-top: 15px;
    
    padding:10px;
    border-radius:20px;
}

.pro{
    margin-left:10px;
    
}

/*footer-------------------*/
footer{
 text-align:center;   
}
